/* olyan hivatkozás amire sosem kattintottak rá */
a:link {
    color: #FF0000;
  }
  
  /* már legalább 1-szer rákattintottak */
  a:visited {
    color: #00FF00;
  }
  
  /* ha ráhúzom az egeret */
  a:hover {
    color: #FF00FF;
  }
  
  /* éppen kattintás alatt lévő, kiválasztás alatt */
  a:active {
    color: #0000FF;
  }